@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: radial-gradient(#68649c,#68649c);
    min-height: 100vh;
}
@font-face {
    font-family: 'Jersey';
    src: url('./fonts/Jersey10-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SpaceComics';
    src: url('./fonts/SpaceComics.ttf') format('truetype');
}
@font-face {
    font-family: 'GingerCat';
    src: url('./fonts/GingerCat.ttf') format('truetype');
}

.shadowButton {
    box-shadow: 4px 4px 0 0 black;
}